body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  canvas{
    /* flex:auto; */
  }

#wrapper{
    position: fixed; top:0; left: 0; width: auto; height: 2em; display: flex;
}

